# dependencies
node_modules/

# next.js build files
.next/

.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local


# production build
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# OS files
.DS_Store
